.widget {
  padding: 25px;
  background: white;
  width: 100%;
  flex: none;
  box-sizing: border-box;
  position: relative;

  &-title {
    margin: 0;
    font-weight: 600;
    font-size: 18px;
    margin-top: 16px;
    transition: color .2s;
    cursor: pointer;

    &:hover {
      color: #6FA9D7;
    }
  }

  &-images {
    display: flex;
    overflow: hidden;
    position: relative;

    & > div {
      height: 96px;
      width: 96px;
      margin-right: 8px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      flex: none;

      &:last-child {
        margin-right: 0;

        @media only screen and (max-width: 400px) {
          display: none;
        }
      }
    }
  }

  &-creator {
    margin-top: 8px;

    &-link {
      margin-left: 5px;
      text-decoration: underline;
      color: #35BFCE;
      cursor: pointer;
      transition: opacity .2s;

      &:hover {
        opacity: 0.6;
      }
    }
  }

  &-subscribers {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 6px;

    & > span:last-child {
      margin-left: 10px;
      color: #ABABAB;
    }
  }
  &-subscriber {
    height: 20px;
    width: 20px;
    margin-left: 6px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    flex: none;
  }
}

.color-gray {
  color: #7F7F7F;
}
