<article class="widget">
  <div class="widget-channels">
    <div *ngFor="let img of data.channelsImages.slice(0, 3)"
         class="widget-channels-img"
         [style.backgroundImage]="'url(' + img.url + ')'"
         [style.borderRadius]="img.rounded ? '50%' : 'unset'">
    </div>

    <span class="widget-channels-count"
          *ngIf="data.channelsCount > 3">
      +{{ data.channelsCount - 3 }}
    </span>
  </div>

  <h3 class="widget-title">{{ data.title }}</h3>

  <div class="widget-creator d-flex align-items-center font-12">
    <span class="color-gray">Создатель: </span>
    <span class="widget-creator-link">{{ data.creatorName }}</span>
  </div>

  <div class="widget-subscribers color-gray font-12">
    Отслеживают:
    <div class="widget-subscriberImg"
         *ngFor="let img of data.subscribersImages"
         [style.backgroundImage]="'url(' + img + ')'">
    </div>
    <span>... ({{ data.subscribersCount | number }})</span>
  </div>

  <app-button (click)="toggleFavorite.next(data.id)"
              [outline]="inFavorites"
              class="widget-add">

    <ng-template [ngIf]="!inFavorites">
      <i class="fa fa-star"></i>
      Добавить в избранное
    </ng-template>

    <ng-template [ngIf]="inFavorites">
      <i class="fa fa-check-circle"></i>
      В избранном
    </ng-template>

  </app-button>
</article>
