:host {
  display: block;
  padding: 0 30px;
}

.widgets {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 30px 60px;
  box-sizing: border-box;
  margin: 0 -30px;

  &-item {
    margin: 0 15px 30px;
    display: flex;
    align-items: stretch;
    width: 354px;
    height: 280px;
    min-width: 290px;
  }

  @media only screen and (max-width: 600px) {
    padding: 30px 15px;
    grid-gap: 15px;
    grid-template-columns: auto;
    justify-content: center;

    &-item {
      margin-bottom: 15px;
    }
  }
}

.addWidget {
  padding: 30px 0 5px;
  display: flex;
  justify-content: center;
  margin: 0 -30px;
}

.background-dark {
  background: #313234;
}
